<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.5">
    <title>Game Page</title>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
</head>
<body>
    <div class="decorative-border">
        <div class="decorative-content">
            <header>
                <a href="/" class="home-button">Home</a> <!-- Home button -->
                <h2>GAME</h2>
            </header>
            <p class="subtitle">How it works?</p>
            <p>The game will last around 3 hours, the game will be player lead, just show and begin. Events will occur throughout the night and there are no expecit rules. Stay in character and <b>remeber your relevant character info</b> as it's neccessary to drive the plot. Try and complete your charater objectives. Complete your objective and find the culprit!</p>
            <p class="subtitle">Awards will be given out to: </p>
            <p>The Best Dressed <br> The Actor Of The Night <br> The Best Investigator <br> The Most Iconic Duo</p>
            <p class="subtitle">Stay In Character!</p>
            <p>Try not to break character, we all know we will at some point, but try and make your decisions based on what your character would do; this is essential for the night. Treat people as your character; and dont be afraid to be bold (If it makes sense)</p>
            </div>
        </div>
    </div>
</body>
</html>
