<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.5">
    <title>Info Page</title>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
</head>
<body>
    <div class="decorative-border">
        <div class="decorative-content">
            <header>
                <a href="/" class="home-button">Home</a> <!-- Home button -->
                <h2>INFO</h2>
            </header>
            <p class="subtitle">Timings</p>
            <p>The 'dinner' will start promptly at <b>18:00</b> and end around <b>21:00</b>, afterwards we will sit down for evening drinks, those being picked up should leave from 21:00 onwards and are allowed to stay as late as they wish. In the morning we will have breakfast, and feel free to leave at whatever time works best in the morning. </p>
            <p class="subtitle">What to bring?</p>
            <p>Feel free to being wine or any other bevrages.<br> Please bring a bag that can be used to store game materials throug the night, sheets will range from a4 to a5, if the bag is  clut you may just need to set ur materials near you throught the duration of the game. </p>
            <p class="subtitle">Where to go?</p>
            <p>My adress: 209 Greenwich High Road SE10 8NB</p>
            <p class="subtitle">Food</p>
            <p>Food will follow entres, main course and a desert, any dietry requirements please let me know in advance.</p>
            </div>
        </div>
    </div>
</body>
</html>
